Data Types and Structures Questions

1. What are data structures, and why are they important
- Data structures are specialized formats for organizing, storing and accessing collection of data
- They provie eifficent way to manage information based on its characteristics and intended use.
-Choosing right data structure impacts efficiency and performance of program
- Easy data manipulation, optimize searching and sorting
- Conserve memory use


2.  Explain the difference between mutable and immutable data types with examples
- Mutable data can be changed whereas immutable data cannot be changed
- Mutables : Lists
e.g List1 = ["ashish", "ansh", "swaraj", "rajveer", "ranveer"]
    List1[2]="Komal"
    List1 = ["ashish", "ansh", "Komal", "rajveer", "ranveer"]
-immutable data cannot be changed at all
e.g. Tuples are immutable
    tup1= ("pwskills", "ansh", 1, 5.55)
    tup1[-1]="Data science"
    this will throw tuple object doesnt support item assignment


3. What are the main differences between lists and tuples in Python
- Lists are immutable, means there elements can be changed after creation, This allows for adding, removing or modifying elements.
- Tuples are immutable, means once created, there elements cannot be changed


4. Describe how dictionaries store data
- Dictionaries are unordered collection of data, each key act as unique identifier to retrieve associated values.
- Key and values can be strings, numbers etc
- unlike other data types, dictionaries cannot be accessed with memory address but only with key and then we can retrieve associated data
- e.g. student = {"name":"Ash", "code": 007}
- student["name"]  # this will print
- Ash


5. Why might you use a set instead of a list in Python
- A set is a collection of unordered and unique values, sets do not allow duplicate elements, and orer of elements is not preserved.
- A list is ordered collection of values that can contain duplicates.


6. What is a string in Python, and how is it different from a list
- A string is sequence of characters enclosed in single/double/triple quotes.
- strings are immutable, means once created, they cannot be changed though each character in string can be accessed using indexing or slicing operation
- A list is an ordered collection of elements, which can be of different data types. List are immutble and they can be modified after creation. Elements in a list can be accessed using indexing or slicing operations


7. How do tuples ensure data integrity in Python
- Tuples can store heterogeneous data types, making them ideal for grouping related but distinct pieces of information. Their immutability ensures that the grouped data remains intact and logically connected.
e.g.person = ("Alice", 30, "Engineer")


8. What is a hash table, and how does it relate to dictionaries in Python
- A hash table is a data structure that maps keys to values using a hash function. This function computes an index into an array of buckets or slots, from which the desired value can be found. Hash tables are widely used for their efficiency in performing insertions, deletions, and lookups.
- A hash function translates keys into array indices. A good hash function distributes keys uniformly across the array to minimize collisions and ensure quick lookup speeds.
- Common methods include:
- Hashing by Division: Uses the remainder of the key divided by the array size.
- Hashing by Multiplication: Multiplies the key by a constant and uses the fractional part to determine the index


9. Can lists contain different data types in Python
- Yes, list can contain mix of integers, floats, strings, booleans and objects or even lists


10. Explain why strings are immutable in Python
- Python uses a technique called string interning, where identical strings are stored only once in memory. This reduces memory usage and improves performance.
- If strings were mutable, modifying one string would inadvertently affect all references to that string, breaking this optimization.


11. What advantages do dictionaries offer over lists for certain tasks
- The primary advantage of dictionaries over lists is their ability to provide fast value retrieval using unique keys. This results in significantly faster data access, especially when dealing with large datasets


12. How do sets handle duplicate values in Python
- In Python, a set is an unordered collection of unique elements. This means that a set cannot contain duplicate elements. When you try to add a duplicate element to a set, it will be ignored, and the set will remain unchanged.

13. Describe a scenario where using a tuple would be preferable over a list
- When we want to ensure that data is not changed accidentally. Tuples being immutable do not allow any changes in its data.
- When we want faster access to data that will not change as tuples are faster than lists.
- When we want to use the data as a key in a dictionary. Tuples can be used as keys in a dictionary, but lists cannot.
- When we want to use the data as an element of a set. Tuples can be used as elements of a set, but lists cannot.
e.g. t = (a,)
t = tuple([1])


14. How does the “in” keyword work differently for lists and dictionaries
- The in operator uses different algorithms for lists and dictionaries.
- For lists, it uses a search algorithm. As the list gets longer, the search time gets longer in direct proportion.
- For dictionaries, Python uses an algorithm called a hashtable that has a remarkable property: the in operator takes about the same amount of time no matter how many items there are in a dictionary


15. Can you modify the elements of a tuple? Explain why or why not
- You cannot modify the elements of a tuple in Python because tuples are immutable. This means that once a tuple is created, its elements cannot be changed, added, or removed.
- The design choice for immutability is primarily for efficiency, as it allows for optimizations in memory usage and performance. If you need to change a tuple, you must create a new tuple with the desired elements


16. What is a nested dictionary, and give an example of its use case
- A nested dictionary in Python is a dictionary inside another dictionary. This allows you to store complex data structures in a single dictionary. Each key in the outer dictionary can map to another dictionary, enabling hierarchical data storage.
e.g people = {
1: {'name': 'Raja', 'age': '27', 'sex': 'Male'},
2: {'name': 'Rani', 'age': '22', 'sex': 'Female'}
}
print(people)


17. Describe the time complexity of accessing elements in a dictionary
- The time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup
dict = {'a': 1, 'b': 2, 'c': 3}
val = dict['b']
print(val)
Hash tables O(1) use the hash of the key to find the memory location which enables direct access.


18. In what situations are lists preferred over dictionaries
- For quick data look-ups, configurations, or caches, favor dictionaries.
- For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.


19. Why are dictionaries considered unordered, and how does that affect data retrieval
- cant pull info out based on index like lists.
- Dictionaries use keys, so it doesnt actually matter where the item is in the dictionary, you search with keys.
Dict['job']['pay']
Would look for the key 'job' then inside job it would look for the key 'pay', and whatever 'pay's value is is what would be returned


20. Explain the difference between a list and a dictionary in terms of data retrieval.
- A list is a collection of ordered elements that can be of multiple types. Lists are defined using square brackets [] or the list() function
myList = [1, 2, 3, 4, 5, 6]
myList.append(10) # Adds 10 to the list
myList.extend([11, 12, 13]) # Adds multiple elements to the list
- Lists provide faster performance for initialization, accessing elements, and iterating. However, searching for an element in a list has an average time complexity of O(n)
- A dictionary is a collection of key-value pairs. Dictionaries are defined using curly braces {} or the dict() function
myDict = {'Name': 'Geeks', 1: [1, 2, 3, 4]}
myDict['Age'] = 25 # Adds a new key-value pair
myDict.update({'Gender': 'Male'}) # Adds another key-value pair
- Dictionaries allow random access to values using keys, which must be of an immutable data type (e.g., integers, strings, tuples). Dictionaries are also mutable, allowing you to add, modify, or remove key-value pairs. You can add elements using the assignment operator or the update() method
- Dictionaries provide faster performance for lookups, insertions, and deletions due to their underlying hash table implementation. The average time complexity for these operations is O(1)

In [ ]:
# 1. Write a code to create a string with your name and print it
a = input("Enter your name")
print(a)

Enter your nameashish
ashish

In [ ]:
# 2. Write a code to find the length of the string "Hello World"
print(len("Hello World"))

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
str1 = "Python Programming"
str1[:3]

'Pyt'

In [ ]:
# 4.  Write a code to convert the string "hello" to uppercase
str2 = "hello"
str2.upper()

'HELLO'

In [ ]:
# 5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"
str3 = "I like apple"
str3.replace("apple","orange")

'I like orange'

In [ ]:
# 6.  Write a code to create a list with numbers 1 to 5 and print it
list2 =[]
i = 1
while i < 6:
  list2.append(i)
  i = i+1
print(list2)

[1, 2, 3, 4, 5]

In [ ]:
# 7.  Write a code to append the number 10 to the list [1, 2, 3, 4]
list3 = [1, 2, 3, 4]
list3.append(10)
list3

[1, 2, 3, 4, 10]

In [ ]:
# 8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list4 = [1, 2, 3, 4, 5]
list4.pop(3)
list4

[1, 2, 3, 5]

In [ ]:
# 9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list5 = ['a', 'b', 'c', 'd']
list5[1]

'b'

In [ ]:
#10.  Write a code to reverse the list [10, 20, 30, 40, 50].
list6 = [10, 20, 30, 40, 50]
list6.reverse()
list6

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple2 = (100, 200, 300)
tuple2

(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple3 = ('red', 'green', 'blue', 'yellow')
tuple3[1:]

('green', 'blue', 'yellow')

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple4 = (10, 20, 5, 15)
min(tuple4)

5

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple5 = ('dog', 'cat', 'rabbit')
tuple5.index('cat')

1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple6 = ('Mango', 'Banana', 'kiwi')
'kiwi' in tuple6

True

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {"a", "b", "c"}
set1

{'a', 'b', 'c'}

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set2 = {1, 2, 3, 4, 5}
set2.clear()
set2

set()

In [ ]:
#  18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set3 = {1, 2, 3, 4}
set3.remove(4)
set3

{1, 2, 3}

In [ ]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set4 = {1, 2, 3}
set5 = {3, 4, 5}
set4 | set5

{1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set6 = {1, 2, 3}
set7 = {2, 3, 4}
set6 & set7

{2, 3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1 = {"name": "Ansh", "age":99, "city":"Thane"}

for key, value in dict1.items():
  print(f"{key} {value}")

name Ansh
age 99
city Thane

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict2 = {'name': 'John', 'age': 25}
dict2["country"] ="USA"
dict2

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict3 = {'name': 'Alice', 'age': 30}
dict3["name"]

'Alice'

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict4["age"]
dict4

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict5 = {'name': 'Alice', 'city': 'Paris'}
"city" in dict5

True

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list55 = [1, 2, 3, 4.4, "ansh", True]
tuple55 = (1, 3, 4, "ashish", False)
dict55 = {"name":"Rajveer", "city":"Anagar", "std":"3rd std"}
print(list55)
print(tuple55)
print(dict55)

[1, 2, 3, 4.4, 'ansh', True]
(1, 3, 4, 'ashish', False)
{'name': 'Rajveer', 'city': 'Anagar', 'std': '3rd std'}

In [ ]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
list12 = [1, 55, 4, 25, 77]
list12.sort()
list12

[1, 4, 25, 55, 77]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.
list13 = ["Ansh", "Rajveer", "Ranveer", "Ashish", "Komal"]
list13[3]

'Ashish'

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict6 = {'a': 1, 'b': 2, 'c': 3}
dict7 = {'d': 4, 'e': 5, 'f': 6}
combined_dict = {key: value for d in (dict6, dict7) for key, value in d.items()}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [ ]:
# 30. Write a code to convert a list of strings into a set
string_list = ["apple", "banana", "cherry", "apple", "banana", "Mango"]
string_set = set(string_list)
print(string_set)

{'apple', 'banana', 'cherry', 'Mango'}